@CHARSET "UTF-8";

body, html {
	margin: 0px;
	height: 1500px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(99%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 99%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
}

main {
	width: 70%;
	min-width: 800px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

header {
	padding: 5px;
	margin: 5px;
}

.col-sm-7{
	padding: 0;
	margin: 0;
}

header img {
	width: 150px;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	padding: 0px 10px;
	font-size: 40px;	
}

nav {
	margin: 0px 20px;
}

section {
	height: 100%;
	min-height: 600px;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	background-color: white;
	margin-top: 0px;
	padding-top: 0px;
	background-color: white;
	box-shadow: 10px 10px 20px #BFBFBF;
}

td {
	font-size: 17px;
	padding-top: 20px;
}

.table-hover tr:hover {
	cursor: pointer;
}

.modal-dialog {
	min-width: 600px;
	width: 50%;
}

.form-control {
	width: 300px;
}

#budField {
	float: left;
}

.img-responsive {
	max-width: 200px;
	max-height: 200px;
	border: 2px solid #949494;
	border-radius: 4px;
	box-shadow: 3px 3px 10px #B3B3B3;
}

.thumbnails {
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	border: 2px solid #949494;
	border-radius: 4px;
	box-shadow: 3px 3px 10px #B3B3B3;
}

#content {
	width: 900px;
	height: 490px;
	list-style-type: none;
	margin: 50;
	padding: 50;
	align: center;
	padding-left: 20px;
}

#kontaktleft {
	float: left;
	width: 30%;
}

#kontaktright {
	float: left;
	width: 30%;
	padding-left: 50px;
}

.rutor {
	border-radius: 8px;
}

tbody {
	border-top: 0px solid;
}

#loginBox {
	width: 30%;
	padding: 20px;
}

#inputEmail, #inputPassword {
	margin: 5px;
}

#invis {
	padding: 0px;
	margin: 0px;
}